@tailwind base;
@tailwind components;
@tailwind utilities;

#typing {
  animation: typing 2.5s steps(22) 2s infinite alternate;
}
#line {
  float: left;
  color: white;
  font-weight:bold;
  font-size: 60px;
  animation: crow 0.5s linear 0s infinite;
  }
.font-lilitaOne{
  font-family: 'Lilita One', cursive;
}
.font-SourceSansPro{
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes typing {
  from {
  width: 0ch;
  }
  to {
  width: 17.5ch;
  }
}
  
@keyframes crow {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}